# .gitignore file for BeebEm

# Generic files to ignore
*.log

# Windows files to ignore
BeebEm.ilk
src/platforms/windows/Debug/
src/platforms/windows/BeebEm.ncb
src/platforms/windows/BeebEm.suo
src/platforms/windows/BeebEm.vcproj.*.user

# GCC files to ignore
*.o

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app
